.abg-from{
	float: left;
}
.abg-from label{
	width: 100px;
	display: inline-block;
}
.abg-from input{
	width: 50px;
}
.abg-to{
	float: left;
}
.abg-to label{
	width: 20px;
	display: inline-block;
	margin-left: 10px;
}
.abg-to input{
	width: 50px;
}
.abg-and-from{
	float: left;
}
.abg-and-to{

}
.abg-and-from label{
	width: 100px;
	display: inline-block;
}
.abg-and-from input{
	width: 50px;
}
.abg-and-to label{
	width: 20px;
	display: inline-block;
	margin-left: 10px;
}
.abg-and-to input{
	width: 50px;
}