#abg-schedule{
	width: auto;
	border-bottom: none;
	margin: 0;
	border: none;
}
#abg-schedule th{
	text-align: left;
	width: 29px;
	border: none;
}
#abg-schedule tr{
	border: none;
}
#abg-schedule tr td, #abg-schedule tr th{
	border: none;
	padding: 0 5px 0 0;
}
#abg-schedule .abg-endday{
	border-bottom: 1px solid #D1D1E0;
}
#abg-schedule.abg-sch-respwidth{
	display: none;
}
@media only screen and (max-width: 550px) {
	#abg-schedule.abg-sch-respwidth{
	display: table;
	}
	#abg-schedule.abg-sch-fullwidth{
	display: none;
	}
	#abg-schedule th{
	vertical-align: middle;
	}
}